
<form action='<?php echo get_router_url('/api/profile'); ?>' method="post" enctype="multipart/form-data">

    Staff ID:<br><input type="text" name="staffId" value="SAI100315001"><br><br>
    
    Seat ID:<br><input type="text" name="seatId" value=""><br><br>
    
    First name:<br><input type="text" name="firstName" value="Le"><br><br>
    
    Last name:<br><input type="text" name="lastName" value="Hieu"><br><br>
    
    Department ID:<br><input type="text" name="departmentId" value=""><br><br>
    
    Leader ID:<br><input type="text" name="leaderId"  value=""><br><br>
    
    Photo:<br><input type="file" name="photo" ><br><br>
    
    Address:<br><input type="text" name="address"  value=""><br><br>
    
    Phone:<br><input type="text" name="phone"  value=""><br><br>
    
    Email:<br><input type="text" name="email"  value=""><br><br>
    
    story:<br><textarea type="text" name="story"  value=""></textarea><br><br>
    
    Rating:<br><input type="number" name="rating"  value="0"><br><br>
    
    <input type="submit" value="Submit">
</form>