

<form name="edit" action='<?php echo get_router_url('/api/profile/' . $id); ?>' method="POST" enctype="multipart/form-data">

    Staff ID:<br><input type="text" name="staffId" value="<?php echo $id;?>"><br><br>
    
    Seat ID:<br><input type="text" name="seatId" value="<?php echo $profile->seatId;?>"><br><br>
    
    First name:<br><input type="text" name="firstName" value="<?php echo $profile->firstName;?>""><br><br>
    
    Last name:<br><input type="text" name="lastName" value="<?php echo $profile->lastName;?>""><br><br>
    
    Department ID:<br><input type="text" name="departmentId" value="<?php echo $profile->departmentId;?>"><br><br>
    
    Leader ID:<br><input type="text" name="leaderId" value="<?php echo $profile->leaderId;?>"><br><br>
    
    Photo(<?php echo $profile->photo;?>):<br><input type="file" name="photo"><br><br>
    
    Address:<br><input type="text" name="address"  value="<?php echo $profile->address;?>"><br><br>
    
    Phone:<br><input type="text" name="phone"  value="<?php echo $profile->phone;?>"><br><br>
    
    Email:<br><input type="text" name="email"  value="<?php echo $profile->email;?>"><br><br>
    
    Story:<br><textarea name="story" ><?php echo $profile->story;?></textarea><br><br>
    
    Rating:<br><input type="text" name="rating"  value="<?php echo $profile->rating;?>"><br><br>
    
    <input type="submit" value="Submit">
</form>