
<div class="row">
<div class="col-md-4">
<?php
// add at the end of the file after the table
echo $this->paginationControl(
    // the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    'partial/paginator.phtml',
    // the route to link to when a user clicks a control link
    array(
        'route' => 'profile_admin'
    )
);
?>
</div>
<div class="col-md-4">
    <a class="btn btn-success " href="<?php echo $this->url('profile_admin',
                    array('action' => 'add'));?>" >New Profile</a>
</div>
</div>

<div class="row">
<table class="table">
    <tr>
        <th>Staff ID</th>
        <th>Floor</th>
        <th>Seat</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Department</th>
        <th>Leader</th>
        <th>Photo</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Story</th>
        <th>Rating</th>
        <th>&nbsp;</th>
    </tr>
    <?php foreach ($this->paginator as $profile) : // <-- change here! ?>
        <tr>
            <td><?php echo $this->escapeHtml($profile->staffId);?></td>
            <td><?php echo $this->escapeHtml($profile->floor);?></td>
            <td><?php echo $this->escapeHtml($profile->seat);?></td>
            <td><?php echo $this->escapeHtml($profile->firstName);?></td>
            <td><?php echo $this->escapeHtml($profile->lastName);?></td>
            <td><?php echo $this->escapeHtml($profile->departmentName);?></td>
            <td><?php echo $this->escapeHtml($profile->leaderName);?></td>
            <td><?php echo $this->escapeHtml($profile->photo);?></td>
            <td><?php echo $this->escapeHtml($profile->address);?></td>
            <td><?php echo $this->escapeHtml($profile->phone);?></td>
            <td><?php echo $this->escapeHtml($profile->email);?></td>
            <td><?php echo $this->escapeHtml($profile->story);?></td>
            <td><?php echo $this->escapeHtml($profile->rating);?></td>
            <td>
                <a href="<?php echo $this->url('profile_admin',
                    array('action' => 'edit', 'id' => $profile->staffId));?>">Edit</a>
                <a href="" id="delete_me" onclick="deleteMe('<?php echo $profile->staffId; ?>');">Delete</a>
            </td>
        </tr>
    <?php endforeach; ?>
 </table>
</div>

<script type='text/javascript'>
function deleteMe(id) {
    $.ajax({
        url: '<?php echo get_router_url('/api/profile'); ?>' + '/' + id,
        type: 'DELETE',
        success: function(result) {
            location.reload();
        },
        error: function (data) {
            alert("delete error");
        }
    });
}
   
</script>

