Add new department
<form action='<?php echo get_router_url('/api/department'); ?>' method="post">

    ID:<br><input type="text" name="id" value="" placeholder="Auto"><br><br>
    
    Name:<br><input type="text" name="name" value=""><br><br>
    
    <input type="submit" value="Add">
</form>