

<form name="edit" action='<?php echo get_router_url('/api/department/' . $id); ?>' method="POST" enctype="multipart/form-data">

    ID:<br><input type="text" name="id" value="<?php echo $id;?>"><br><br>
    
    Name:<br><input type="text" name="name" value="<?php echo $department->name;?>"><br><br>
    
    <input type="submit" value="Save">
</form>