
<div class="row">
<div class="col-md-4">
<?php
// add at the end of the file after the table
echo $this->paginationControl(
    // the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    'partial/paginator.phtml',
    // the route to link to when a user clicks a control link
    array(
        'route' => 'department_admin'
    )
);
?>
</div>
<div class="col-md-4">
    <a class="btn btn-success " href="<?php echo $this->url('department_admin',
                    array('action' => 'add'));?>" >New Department</a>
</div>
</div>

<div class="row">
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>&nbsp;</th>
    </tr>
    <?php foreach ($this->paginator as $department) : // <-- change here! ?>
        <tr>
            <td><?php echo $this->escapeHtml($department->id);?></td>
            <td><?php echo $this->escapeHtml($department->name);?></td>
            <td>
                <a href="<?php echo $this->url('department_admin',
                    array('action' => 'edit', 'id' => $department->id));?>">Edit</a>
                <a href="" id="delete_me" onclick="deleteMe('<?php echo $department->id; ?>');">Delete</a>
            </td>
        </tr>
    <?php endforeach; ?>
 </table>
</div>

<script type='text/javascript'>
function deleteMe(id) {
    $.ajax({
        url: '<?php echo get_router_url('/api/department'); ?>' + '/' + id,
        type: 'DELETE',
        success: function(result) {
            location.reload();
        },
        error: function (data) {
            alert("delete error");
        }
    });
}
   
</script>

