
<form class="form-signin" method="POST">
    <h2 class="form-signin-heading">Please sign in</h2>
    <?php if (isset($AUTH_MSG) && strlen($AUTH_MSG) > 0) echo '<div class="alert alert-danger">' . $AUTH_MSG . '</div>'; ?>
    <label for="idInputEmail" class="sr-only">Email address</label>
    <input type="email" id="idInputEmail" name="nameInputEmail" class="form-control" placeholder="Email address" required autofocus>
    <br/>
    <label for="idInputPassword" class="sr-only">Password</label>
    <input type="password" id="idInputPassword" name="nameInputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me" name="nameChkRemember"> Remember me
        </label>
    </div>
                        
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>