
<h1>Seat</h1>

<h3>GET <?php echo get_router_url('/api/seat'); ?></h3>
<p>Provides list of seat</p>

<h3>GET <?php echo get_router_url('/api/seat/{seat_id}'); ?></h3>
<p>Return the seat based on seat_id</p>

<h3>GET <?php echo get_router_url('/api/seat/{floor_number}/{seat_number}'); ?></h3>
<p>Return the seat based on floor_number and seat_number</p>

<h3>GET <?php echo get_router_url('/api/seat/floor'); ?></h3>
<p>Provides list of floor number</p>

<h3>GET <?php echo get_router_url('/api/seat/floor/{floorNumber}'); ?></h3>
<p>Provides list of seat based on floorNumber</p>

<h3>Assest</h3>
<h4><?php echo get_router_url('/resource/floor_map/floor7.png'); ?></h4>
<h4><?php echo get_router_url('/resource/floor_map/floor8.png'); ?></h4>
<h4><?php echo get_router_url('/resource/floor_map/floor9.png'); ?></h4>

<br>
<h1>Department</h1>
<h3>GET <?php echo get_router_url('/api/department'); ?></h3>
<p>Provides list of available departments</p>
<p>Parameters</p>
<ul>
    <li>q(query): optional. Filter by name. default is empty.</li>
</ul>

<h3>GET <?php echo get_router_url('/api/department/{id}'); ?></h3>
<p>Return the department based on id</p>

<h1>Profile</h1>
<h3>GET <?php echo get_router_url('/api/profile'); ?></h3>
<p>Provides list of available profiles</p>

<p>Parameters</p>
<ul>
    <li>ids(query):
        <ul>
            <li>optional.</li>
            <li>Filter results based on id list</li>
            <li>Default: empty => no filter</li>
            <li>Ex: ids=SAI100315001,SAI100315002</li>
        </ul>
    </li>
    <li>q(query):
        <ul>
            <li>optional.</li>
            <li>Search on firstName, lastName.</li>
            <li>Default: empty.</li>
        </ul>
    </li>
    <li>qo(query): arrays as JSON
        <ul>
            <li>optional.</li>
            <li>Default: ["firstName","lastName"]</li>
            <li>Support columns: firstName, lastName, address, phone, story,email</li>
            <li>Ex: qo=["address","phone"] > The search will be performed on columns: address, phone</li>
        </ul>
    </li>
    <li>offset(query):
        <ul>
            <li>optional.</li>
            <li>specifies the number of profile to skip before starting to return profiles from the results</li>
            <li>type: number</li>
            <li>Default: 0</li>
        </ul>
    </li>
    <li>limit(query):
        <ul>
            <li>optional.</li>
             <li>the number of profiles returned</li>
            <li>type: number</li>
            <li>Default: -1 > not limit</li>
        </ul>
    </li>
    <li>sort_rating(query):
        <ul>
            <li>optional.</li>
            <li>sort results based on 'rating' values</li>
            <li>type: true|false</li>
            <li>Default: false </li>
        </ul>
    </li>
</ul>

<h3>GET <?php echo get_router_url('/api/profile/{staffId}'); ?></h3>
<p>Return the profile based on staffId</p>
<p>Parameters</p>
<ul>
    <li>increase_rating(query):
        <ul>
            <li>optional.</li>
            <li>Increase the rating column for this profile</li>
            <li>type: true|false</li>
            <li>Default: false</li>
        </ul>
    </li>
</ul>

<h3>POST <?php echo get_router_url('/api/profile'); ?></h3>
<p>Create new profile.</p>
<p>Parameters</p>
<ul>
    <li>staffId: require</li>
    <li>seatId:</li>
    <li>firstName: require</li>
    <li>lastName: require</li>
    <li>departmentId:</li>
    <li>leaderId:</li>
    <li>photo: file</li>
    <li>address:</li>
    <li>phone:</li>
    <li>story:</li>
    <li>email:</li>
    <li>rating:</li>
</ul>

<h3>POST <?php echo get_router_url('/api/profile/{staffIdOrigin}'); ?></h3>
<p>Update the profile that has staffId as staffIdOrigin.</p>
<p>Parameters</p>
<ul>
    <li>staffId: require</li>
    <li>seatId:</li>
    <li>firstName: require</li>
    <li>lastName: require</li>
    <li>departmentId:</li>
    <li>leaderId:</li>
    <li>photo: file</li>
    <li>address:</li>
    <li>phone:</li>
    <li>story:</li>
    <li>email:</li>
    <li>rating:</li>
</ul>
 

<h1>Schemas</h1>
<h3>Profile</h3>
{<br/>
"staffId":"",<br/>
"seatId":"",<br/>
"firstName":"",<br/>
"lastName":"",<br/>
"departmentId":"",<br/>
"leaderId":"",<br/>
"photo":"",<br/>
"address":"",<br/>
"phone":"",<br/>
"story":"",<br/>
"email":"",<br/>
"rating": <i>number</i><br/>
"leaderName":"",<br/>
"departmentName":"",<br/>
"locX":"",<br/>
"locY":"",<br/>
"seat":"",<br/>
"floor":""<br/>

}
<h3>Department</h3>
{<br/>
"id": "",<br/>
"name" : ""<br/>
}
<h3>Seat</h3>
{<br/>
"id": "",<br/>
"locX" : ""<br/>
"locY" : ""<br/>
"seat" : ""<br/>
"floor" : ""<br/>
}
 

 

 
 

 

 